body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
.main{
    margin: 5px auto;
    overflow-x: hidden;
}
/* Heder Styling Start*/
header{
    margin-bottom: 5px;
}
.mainMenu li{
    list-style-type: none;
    float: left;
    padding: 13px 25px;
    margin-right:5px;
}
.mainMenu li:hover{
    border-bottom: 2px solid #fff;
    transition:0.5s ease-in ;
    padding-bottom: 10px;
}
.mainMenu li a, .mainMenu li a{
    color: #fff;
    text-decoration: none;
}

/* Heder Styling End*/

/* Footer Styling Start*/

/* Footer Styling End*/

/* Login Page Styling Start*/
.loginWidth{
    margin:10% auto;
    width: 50%;
}

.fontRed{
    color: red;
}
/* Login Page Styling End*/

/* GST Page */
#sideMenu{
    width:16%;
    float: left;
    height: 100%;
    background: rgb(55, 108, 151);
    padding:0 4px;
}
.mainContent{
    width:84%;
    float: left;
}
#sideMenu ul{
    padding-left: 20px;
}
#sideMenu li{
    list-style:none;
    padding: 12px 7px;
    background: rgb(55, 108, 151);
    border-bottom: 1px solid #fff;
}
#sideMenu li a{
    color: #fff;
}
.innerList ul li{
    margin-bottom: 1px;
}
#sideMenu .fa{
    font-size: 20px;
}
.notification{
    float: right;
    padding: 11px 20px;
}
.notification li{
    list-style:none;
    float: left;
    margin-left: 5px;
    padding: 0px 7px;
    margin-top: 4px;
}
.myCalander tr th,.myCalander tr td {
    text-align: center;
}
.myCalander dl dd,.myCalander dl dt{
    margin-bottom: 5px;
}

.errBorder{
    border:1px solid red;
}
#erMsg{
    color:red;
}
#pwdMisMatch{
    color: red;
}
.errRed{
    background: #fff;
    color: red;
    font-size:12px;
    border-radius: 0 0 30px 4px;
    transition-duration: 1ms;
}