<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>
		<header>
			<div class="row">
				<div class="col-md-3">
					<img src=""/>
				</div>
				<div class="col-md-6 text-center">
					<ul class="mainMenu">
						<li><a href="home.html">Home</a></li>
						<li><a href="vacation_planner.html">Vacation Planner</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Conatact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 text-right">
                    <ul class="mainMenu">
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                    </ul>
                </div>
			</div>
		</header>
		<main>
	<div class="container" ng-app="signUpApp">
        <div class="loginWidth" ng-controller="signUpController">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h4>Sign Up</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form" name="signUpForm" ng-submit="validateForm(signUpForm.$valid)" novalidate>
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" name="userName" ng-model="userName" id="uName" minlength="3" maxlength="50" required/>
                            <small ng-show="signUpForm.userName.$invalid || signUpForm.userName.$pristine" class="errRed">Please Enter UserName</small>
                        </div>
                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="text" class="form-control" name="userEmail" ng-model="userEmail" id="uEmail" required/>
                            <small ng-show="signUpForm.userEmail.$invalid || signUpForm.userEmail.$pristine" class="errRed">Please Enter Email</small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="usePwd" ng-model="userPwd" id="uPwd" required/>
                            <small ng-show="signUpForm.usePwd.$invalid || signUpForm.usePwd.$pristine" class="errRed">Please Enter Password</small>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confPwd" ng-model="conUserPwd" id="confUPwd" required/>
                            <small ng-show="signUpForm.confPwd.$invalid || signUpForm.confPwd.$pristine" class="errRed">Please Enter Confirm Password</small>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="aggTerms" class="form-check-input" ng-checked=""/>I Accept Terms and Conditions
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div>
                        <p>
                            {{getData | json}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>
<footer>
	
</footer>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/angularjs.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/src/controller.js"></script>
       <!-- <script>
            var useName=document.getElementById("uName").value;
                var pwd=document.getElementById("uPwd").value;
                var cPwd=document.getElementById("confUPwd").value;
                var errMsg =document.getElementById("erMsg");
                var pwdMatch=document.getElementById("pwdMisMatch");
            $("#validSignUp").click(function(){
                var formValid=validform();
                if(formValid){
                    alert("form submitted");
                }
            });
            $("#confUPwd").keypress(function(){
                $("#confUPwd").removeClass("errBorder");
            });
            $("#uPwd").keypress(function(){
                $("#uPwd").removeClass("errBorder");
            });
            $("#uName").keypress(function(){
                $("#uName").removeClass("errBorder");
                
            });
            
            function validform(){
                var useName=document.getElementById("uName").value;
                var pwd=document.getElementById("uPwd").value;
                var cPwd=document.getElementById("confUPwd").value;
                var errMsg =document.getElementById("erMsg");
                var pwdMatch=document.getElementById("pwdMisMatch");
                if(useName == "" || useName == null ){
                    errMsg.innerHTML +="Please Enter UserName/Email";
                    $("#uName").addClass("errBorder");
                
                }else if(useName != null || useName != " "){
                        if(useName.length > 0){
                            $("#erMsg").hide();
                        }
                     //var regExp='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/';
                    //  $("#erMsg").hide();
                    if((pwd == "" || pwd == null) || (cPwd == "" || cPwd == null) ){
                        pwdMatch.innerHTML +="New Password and confirm password doesnot match";
                        $("#confUPwd").addClass("errBorder");
                        $("#uPwd").addClass("errBorder");
                        document.getElementById("uPwd").value = "";
                        document.getElementById("confUPwd").value = "";
                        
                    }
                    else if(pwd != " " || cPwd != null){
                    $("#confUPwd").removeClass("errBorder");
                        $("#uPwd").removeClass("errBorder");
                        $("#pwdMisMatch").hide();
                        if(pwd.length === cPwd.length){
                            alert(pwd.length + " " + cPwd.length );
                        }
                       else{
                           alert("enter equal no of characters");
                           $("#confUPwd").addClass("errBorder");
                        $("#uPwd").addClass("errBorder");
                        document.getElementById("uPwd").value = "";
                        document.getElementById("confUPwd").value = "";
                       }
                    }
                }
            }
        </script>-->
	</body>
<html>
</html>